{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "FAQ categories" %}</h1>
    <div class="float-left">
        <p class="clearfix"></p>
        <a class="btn btn-default ml-auto" href="{% url "plugins:prtx_faq:faq.category.create" event=request.event.slug organizer=request.organizer.slug %}">
            <span class="fa fa-plus"></span>
            {% trans "Add category" %}
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans "Category" %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ category.pk }}/up" class="btn btn-default btn-sm"><i class="fa fa-arrow-up"></i></a>
                        <a href="{{ category.pk }}/down" class="btn btn-default btn-sm"><i class="fa fa-arrow-down"></i></a>
                    </td>
                    <td class="flip text-right">
                        <a href="{{ category.pk }}" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></a>
                        <a href="{{ category.pk }}/delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
