$fa-var-caret-down: "\f0d7";
$fa-var-caret-right: "\f0da";

#faqSearch {
    float: right;
    width: 300px;
}

.question {
}

.panel {
    margin-bottom: 20px;
    p {
        margin-bottom: 10px;
    }
    .card-header, .list-group-item {
        padding: 10px 15px;
    }
    .panel-title {
        font-size: 16px;
    }
}

.question-asked {
    font-weight: bold;
}
.question-category {
    summary .fa::before {
        content: $fa-var-caret-right;
    }
    &[open] summary .fa::before {
        content: $fa-var-caret-down;
    }
}
